.App {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  max-width: 450px;
  margin-top: 100px;
}

.App input {
  margin: 5px 0;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.App button {
  margin-top: 5px;
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}