/* ./src/styles/pokemon.css */
.pokemon {
  align-items: center;
  border: 1px gray solid;
  border-radius: 10px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  margin: 10px;
  min-width: 25%;
}
