/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
  }
  article {
    text-align: justify;
  }
  h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
  }
  img {
    max-width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  section {
    display: flex;
    flex-flow: row wrap;
  }
  figure {
    background: black;
    border-radius: 5px;
    color: white;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
  }
  figcaption {
    font-size: .8em;
  }
  @media screen and (min-width: 768px) {
    body {
      background: rgba(0,0,255,.2);
      margin: 25px 6%;
    }
    figure {
      width: 45%;
      margin-right: 4.5%;
    }
  }
  @media screen and (min-width: 992px) {
    body {
      background: rgba(0,255,0,.2);
      margin: 25px 10%;
      max-width: 1130px;
    }
    figure {
      width: 30%;
      margin-right: 2.5%;
    }
  }